<div class="card">
    @if ('data'){
    @if ('img') {
        <div class="card-header">
            <img [src]="img" alt="" class="img">
            </div>
    }
    <div class="card-body">
    <h2 class="title">{{name}}</h2>
    <input type="text" class="input" (change)="onChange($event)">
    <p class="info">{{"description"}}</p>
    @if ('price') {
            <p class="info">{{"price"}}</p>
        }
    </div>
}
    <div class="card-footer">
    <button class="btn" (click)="onClick()">Ver Datos</button>
    </div> 
</div>
