.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 500;
    background-color: #003366;
    border: none;
    border-radius: 5px;
    &:active {background-color: antiquewhite;}
}